td { color:rgb(51, 255, 0); font-size: 8.0pt}
th { color:blueviolet; font-size: 10.0pt}
@media screen and (max-width:960px){
    td {color:rgb(226, 43, 180); font-size: 15.0pt}
}
.center {
    display:block;
    align-items: center;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.block {
    height:auto;
    width:auto;
}
.c {
    margin:auto;
}